<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @favorite_postings.each do |posting| %>
        <table class="table">
          <tr>
            <th>
              <p>
                <%= link_to public_customer_path(posting.customer.id) do %>
                <%= image_tag posting.customer.get_profile_image(100,100), class: "rounded-circle" %>
                <%= posting.customer.last_name %><%= posting.customer.first_name %>
                <% end %>
              </p>
              <p><%= posting.body %></p>
              <p>
                <% if posting.profile_image.attached? %>
                  <%= image_tag posting.profile_image, size: "400x400" %>
                <% else %>
                  <%= image_tag 'no_image', size: "400x400" %>
                <% end %>
              </p>
              <p><%= posting.created_at.strftime("%Y年%m月%d日") %></p>

                <% if customer_signed_in? %>
                  <% if posting.favorited_by?(current_customer) %>
                    <%= link_to public_posting_favorites_path(posting), method: :delete do %>
                      ♥<%= posting.favorites.count %> いいね
                    <% end %>
                  <% else %>
                    <%= link_to public_posting_favorites_path(posting), method: :post do %>
                      ♡<%= posting.favorites.count %> いいね
                    <% end %>
                  <% end %>
                <% end %>
              <p><%= link_to "#{posting.post_comments.count} コメント", public_posting_path(posting.id) %></p>
            </th>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
