<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag @customer.get_profile_image(100,100) %>
    </div>
    <div class="col-md-3">

      <%= @customer.last_name %><%= @customer.first_name %>

    </div>
    <div class="offset-md-4 col-md-3 ">
        <%= link_to '編集する', edit_public_customers_path, class:"btn btn-sm btn-success" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

    <p><%= @customer.introduction %></p>

    </div>
  </div>
  </div>
</div>