<div class="container">
	<div class="row">
    <div class="col-md-5">
      <%#= form_with model: [:public, @posting] do |f| %>
      <%= image_tag @posting.customer.get_profile_image(50,50), class: "rounded-circle" %>
      <%= @posting.customer.last_name %><%= @posting.customer.first_name %>

      <%= image_tag @posting.get_profile_image(250,250) %>
      <p><%= @posting.body %></p>
      <div>
        <% if current_customer.present? %>
          <%= form_with model: [:public, @posting, @post_comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        <% end %>
      </div>

      <%# end %>
      <div class="form-group row form-inline ">
        <% if @posting.favorited_by?(current_customer) %>
          <%= link_to public_posting_favorites_path(@posting), method: :delete do %>
          ♥<%= @posting.favorites.count %> いいね
        <% end %>
        <% else %>
          <%= link_to public_posting_favorites_path(@posting), method: :post do %>
          ♡<%= @posting.favorites.count %> いいね
        <% end %>
        <% end %>
        コメント件数：<%= @posting.post_comments.count %>
      </div>
      <% @posting.post_comments.each do |post_comment| %>
        <p><%= image_tag post_comment.customer.get_profile_image(50,50), class: "rounded-circle" %>
        <%= post_comment.customer.last_name %></p>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
        <% if post_comment.customer == current_customer %>
        <%= link_to "削除", public_posting_post_comment_path(post_comment.posting, post_comment), method: :delete %>
      <% end %>
      <% end %>

      <div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600%;
}
</style>

<!-- js部分 -->
<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: <%= @posting.lat %>, lng: <%= @posting.lng %>},
    zoom: 15,
  });

   marker = new google.maps.Marker({
    position:  {lat: <%= @posting.lat %>, lng: <%= @posting.lng %>},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDony-pTZXugH9m8c3o5Q9mOwKHlOBvH9c&callback=initMap" async defer></script>
    </div>
  </div>
</div>