<div class="container">
  <div class="row">
    revision
    <div class="col-md-12">
      test
      <% @postings.each do |posting| %>
      <table class="table">
        <tr>
          <th>
            <p>
              <%= link_to public_customer_path(posting.customer.id) do %>
              <%# if posting.customer.get_profile_image(50, 50).present? %>
                <%#= image_tag posting.customer.get_profile_image(50, 50), class: 'rounded-circle' %>
              <%# else %>
                <%#= image_tag 'sample-author1.jpg', class: 'rounded-circle' %>
              <%# end %>


              <%= image_tag posting.customer.get_profile_image(100,100), class: "rounded-circle" %>
                <%= posting.customer.last_name %><%= posting.customer.first_name %>
              <% end %>
            </p>
            <p><%= posting.body %></p>
            <p>
              <% if posting.profile_image.attached? %>
                <%= image_tag posting.profile_image, size: "400x400" %>
              <% else %>
                <%= image_tag 'no_image', size: "400x400" %>
              <% end %>
            </p>
            <%= posting.created_at.strftime("%Y年%m月%d日") %>
            <%#= render 'list', post_images: @post_images %>
            <div class="favorites_buttons_<%= posting.id %>">
              <%= render 'public/favorites/favorites', posting: posting %>
            </div>
              <%#= render 'post_images/list', post_images: @post_images %>
            <p><%= link_to "#{posting.post_comments.count} コメント", public_posting_path(posting.id) %></p>
          </th>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>

